@using Quad.Berm.Business
@using Quad.Berm.Data
@using Quad.Berm.Web.Areas.Manage.Models
@{
    ViewBag.Title = "Membership";
}

<div class="well well-small">
    <div class="btn-group">
        @if (User.HasPermission(AccessRight.ManageSuperAdmin))
        {
            @Html.ActionLink("Create Local Admin", "Create", "Membership", new { area = "Manage", option = UserModelOption.AllLocalAdmins }, new { @class = "btn" })
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Create Super Admin", "Create", "Membership", new { area = "Manage", option = UserModelOption.AllSuperAdmins }, null)</li>
                <li>@Html.ActionLink("Create User", "Create", "Membership", new { area = "Manage", option = UserModelOption.AllLocalUsers }, null)</li>
            </ul>
        }
        else
        {
            @Html.ActionLink("Create User", "Create", "Membership", new { area = "Manage", option = UserModelOption.BindedLocalUsers }, new { @class = "btn" })
            if (User.HasPermission(AccessRight.ManageLocalAdmin))
            {
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Create Local Admin", "Create", "Membership", new { area = "Manage", option = UserModelOption.BindedLocalAdmins }, null)</li>
                </ul>
            }
        }
    </div>
</div>

<div class="alert alert-success" id="userActionComplete" data-bind="visible: successMessage() != null" style="display: none">
    <button type="button" class="close" data-bind="click: hideAlert">&times;</button>
    <h4>Complete!</h4>
    <span data-bind="text: successMessage">@this.TempData["CompleteMessage"]</span>
</div>

<table id="userList">
</table>

@section scripts
{
    <script type="text/javascript">
        @if (this.TempData["CompleteMessage"] != null) {
            @:$.app.manage.membership.list.model.successMessage('@this.TempData["CompleteMessage"]');
        }
        $($.app.manage.membership.list.ready);
    </script>
}